DATABASE_DRIVER="postgres"
DATABASE_URL="postgres://filmnest:filmnest@postgres:5432/film_nest"
POSTGRES_USER="filmnest"
POSTGRES_PASSWORD="filmnest"
POSTGRES_DB="film_nest"
LOGGER_TYPE='tskv'
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
DEBUG=*
